<form #employeeForm="ngForm" (ngSubmit)='saveEmployee(employeeForm)'>
  <div class="card">
    <div class="card-header">
      Create Employee
    </div>
    <!-- Full Name -->
    <div class="card-body">
      <div class="form-group">
        <label for="fullName" [class.text-danger]="fullNameCtrl.invalid && fullNameCtrl.touched" [class.text-success]="fullNameCtrl.valid">Full Name</label>
        <input required [(ngModel)]="fullName" #fullNameCtrl="ngModel" type="text" name="fullName" id="fullName" class="form-control" placeholder="Enter full name ..." [class.is-invalid]="fullNameCtrl.invalid && fullNameCtrl.touched" [class.is-valid]="fullNameCtrl.valid">
        <span class="invalid-feedback">Full name is a required field</span>
        <span class="valid-feedback">Correct input</span>
      </div>
      <!-- Email -->
      <div class="form-group">
        <label for="email">Email</label>
        <input required [(ngModel)]="email" type="email" name="email" id="email" class="form-control" placeholder="Enter email ...">
      </div>
      <!-- Phone Number -->
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input [(ngModel)]="phoneNumber" type="text" name="phoneNumber" id="phoneNumber" class="form-control"
          placeholder="Enter phone number ...">
      </div>
      <!-- Contact Preference -->
      <div class="form-group">
        <div class="form-check-inline"><label>Contact Preference?</label></div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input [(ngModel)]="contactPref" type="radio" class="form-check-input" value="email" name="contactPref">Email
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input [(ngModel)]="contactdPref" type="radio" class="form-check-input" value="phone" name="contactPref">Phone
          </label>
        </div>
      </div>
      <!-- Gender -->
      <div class="form-group">
        <div class="form-check-inline"><label>Gender</label></div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input [(ngModel)]="gender" type="radio" class="form-check-input" value="male" name="gender">Male
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input [(ngModel)]="gender" type="radio" class="form-check-input" value="female" name="gender">Female
          </label>
        </div>
      </div>
      <!-- IsActive -->
      <div class="form-check-inline">
        <input [(ngModel)]="isActive" type="checkbox" name="isActive" class="form-check-input" id="isActive">
        <label class="form-check-label" for="isActive">Is Active?</label>
      </div>

      <!-- Department -->
      <div class="row">
        <div class="form-group col-md-4">
          <label for="department">Department</label>
          <select id="department" name="department" [(ngModel)]="department" class="form-control">
            <option *ngFor="let department of departments" [value]="department.id">{{department.name}}</option>
          </select>
        </div>
      </div>

      <!-- Date Of Birth -->
      <div class="row">
        <div class="form-group col-md-4">
          <label for="dateOfBirth">Date Of Birth</label>
          <input [(ngModel)]="dateOfBirth" type="text" bsDatepicker [bsConfig]="datePickerConfig" placement="right"
            name="dateOfBirth" id="dateOfBirth" class="form-control">
        </div>
      </div>

      <!-- Photopath -->
      <div class="form-group">
        <label for="photoPath">Photo path</label>
        <input [(ngModel)]="photoPath" type="text" name="photoPath" id="photoPath" class="form-control" placeholder="Enter photo path ...">
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary" (click)='togglePreview()'> {{previewPhoto ? 'Hide Preview' :
          'Show Preview' }} </button>
      </div>
      <div class="form-group">
        <img [src]="photoPath" height="200" width="200" *ngIf="previewPhoto">
      </div>

    </div>
    <div class="card-footer text-muted">
      <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid" >Save</button>
    </div>
  </div>
</form>
<br>
<strong>Angular Generated Form Model</strong><br>
{{employeeForm.value | json}}
<br>
<br>

<table border=1 style="border-collapse:collapse; font-family:Arial; table-layout: fixed">
  <tr style="background-color:rgb(170, 120, 12); font-weight: bold">
    <td colspan="3" style="padding:3px; white-space:nowrap; width:100%">
      <h4>Employee Form</h4>
    </td>
  </tr>
  <tr style="background-color:rgb(212, 149, 13); font-weight: bold">
    <td style="padding:10px; white-space:nowrap; width:33%">
      <div>touched : {{ employeeForm.touched }}</div>
      <div>untouched : {{ employeeForm.untouched }}</div>
    </td>
    <td style="padding:10px; white-space:nowrap; width:33%">
      <div>pristine : {{ employeeForm.pristine }}</div>
      <div>dirty : {{ employeeForm.dirty }}</div>
    </td>
    <td style="padding:10px; white-space:nowrap; width:33%">
      <div>valid : {{ employeeForm.valid }}</div>
      <div>invalid : {{ employeeForm.invalid }}</div>
    </td>
  </tr>
</table>
<br>
<br>
<table border=1 style="border-collapse:collapse; font-family:Arial; table-layout: fixed">
  <tr style="background-color:rgb(170, 120, 12); font-weight: bold">
    <td colspan="3" style="padding:3px; white-space:nowrap; width:100%">
      <h4>Full Name Field</h4>
    </td>
  </tr>
  <tr style="background-color:rgb(212, 149, 13); font-weight: bold">
    <td style="padding:10px; white-space:nowrap; width:33%">
      <div>touched : {{ fullNameCtrl.touched }}</div>
      <div>untouched : {{ fullNameCtrl.untouched }}</div>
    </td>
    <td style="padding:10px; white-space:nowrap; width:33%">
      <div>pristine : {{ fullNameCtrl.pristine }}</div>
      <div>dirty : {{ fullNameCtrl.dirty }}</div>
    </td>
    <td style="padding:10px; white-space:nowrap; width:33%">
      <div>valid : {{ fullNameCtrl.valid }}</div>
      <div>invalid : {{ fullNameCtrl.invalid }}</div>
    </td>
  </tr>
</table>